<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="io.netty.handler.codec.http.websocketx" level="info"/>
   <logger name="io.netty.util" level="info"/>
   <logger name="io.netty.channel" level="info"/>
   <logger name="io.netty.buffer" level="info"/>
   <logger name="o.apache.commons.beanutils" level="WARN"/>

   <root level="TRACE">
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>
